body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}


#heading {
    background-color: #58B19F;
    padding: 2rem;
    color: #2C3A47;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0.15rem 0.15rem #F8EFBA;
}

input {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #F8EFBA;
    border-color: #F8EFBA;
 }

 input:focus {
    outline:0;
}

a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    transition-duration: 0.4s;
    color: #2C3A47;
    padding: 0.5rem;
}

a:hover {
    color: #9AECDB !important;
    text-decoration: none;
}

.link {
    padding: 0.8rem;
    border: 0;
    background-color: #2C3A47;
    border-radius: 0.3rem;
    color: #9AECDB;
}

.link:hover {
    color: #9AECDB !important;
    background-color: #58B19F;
    text-decoration: none;
}

button {
    background-color: #58B19F;
    border: 0;
    font-size: 2rem;
    color: #2C3A47;
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    color: #9AECDB;
}

button:focus {
    outline:0;
}

.result {
    background-color: #F8EFBA;
    padding: 0 2rem 1rem 2rem;
    margin: 3rem 3rem 1rem 3rem;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem #58B19F;
}

.extract {
    margin-top: 1.5rem;
}

/*
font-family: 'Pacifico', cursive;


body

font-family: 'Roboto Mono', monospace;
font-family: 'Kavivanar', cursive;
font-family: 'Ubuntu', sans-serif;

*/